      html {
  -webkit-print-color-adjust: exact;
}
      h1 {
    text-align: center;
}

img {
    width: 20%;
    height: 5%;
    max-width: 300px;
    max-height: 200px;
    padding-left: 10%;
    padding-right: 10%;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



.table-cluster {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 60%;
    margin: auto;
}

table {
    width: 100%;
    max-width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin-bottom: 5%;
}

table td, table th {
    text-align: left;
    padding: 7px;
}

table td {
    font-size: 15px;
}

table th {
    color: rgb(233, 147, 35);
    background: hsla(0, 0%, 90%, 0.671);
    border-radius: 10%;
}

#myChart {
    height: 300px;
    width: 300px;
    max-width: 300px;
    max-height: 300px;
}